.navbar.main{

    background-color: black;

    padding-top: 0.22rem; padding-bottom: 0.22rem;

}

.navbar.maintwo{

    background-color:lightsteelblue;
    margin-top: -5px;
    padding-top: 40rem; padding-bottom: 16rem;

}

.templateSelectionTitle{
    margin-left: 200px;
    font-weight: bold;
}



.containerTemplateSelection{
    background-color: lightgoldenrodyellow;
    margin-top: -330px;
    margin-left: 400px;
    border: medium solid black;
    width: 900px;
    height: 500px;
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
}

.moduleName{
    margin-top: -240px;
    margin-left: 90px;
    font-size: 18px;
    font-weight: bold;
}

.moduleCode{
    margin-top: -240px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
}

.year{
    margin-top: -180px;
    margin-left: 90px;
    font-size: 18px;
    font-weight: bold;
}

.MarksheetTitle{

    margin-top: -180px;
    margin-left:50px;
    font-size: 18px;
    font-weight: bold;
}

.element{
    margin-top: -165px;
    margin-left: 75px;
    font-size: 18px;
    font-weight: bold;
}


.marker{

    margin-top: -165px;
    margin-left:50px;
    font-size: 18px;
    font-weight: bold;
}

.markerEmail{

    margin-top: -100px;
    margin-left: 75px;
    font-size: 18px;
    font-weight: bold;
}

.moderator{

    margin-top: -100px;
    margin-left:50px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary.action2{

    margin-left:700px;
    font-size: 18px;
    margin-top: -80px;

}